In [1]:
#slip19_q1
# To create a dataframe containing columns name, age and percentage. Add 10 rows to the dataframe. View the dataframe. 
import pandas as pd
# Create a dictionary with column values
data = {
    'name': ['John', 'Alice', 'Michael', 'Emma', 'Daniel', 'Olivia', 'David', 'Sophia', 'James', 'Emily'],
    'age': [25, 32, 28, 35, 41, 29, 36, 27, 33, 30],
    'percentage': [50, 60, 70, 55, 65, 75, 80, 550, 60, 70],
}

# Create a dataframe from the dictionary
df = pd.DataFrame(data)

# View the dataframe
print(df)

      name  age  percentage
0     John   25          50
1    Alice   32          60
2  Michael   28          70
3     Emma   35          55
4   Daniel   41          65
5   Olivia   29          75
6    David   36          80
7   Sophia   27         550
8    James   33          60
9    Emily   30          70

In [11]:
#slip19_q2
#To print the shape, number of rows-columns, data types, feature names and the description of the data 
df.shape
df.dtypes
df.columns
df.describe()

             age  percentage
count  10.000000     10.0000
mean   31.600000    113.5000
std     4.812022    153.6419
min    25.000000     50.0000
25%    28.250000     60.0000
50%    31.000000     67.5000
75%    34.500000     73.7500
max    41.000000    550.0000

In [13]:
#slip19_q3
#To Add 5 rows with duplicate values and missing values. Add a column ‘remarks’ with empty values. Display the data.
import pandas as pd

# Create a DataFrame with duplicate values and missing values
data = {'Name': ['John', 'Emma', 'John', 'Emily', 'Daniel', None, 'Emma', None, 'Daniel'],
        'Age': [25, 28, 25, None, 30, 32, 28, 35, None],
        'City': ['New York', 'London', 'New York', 'Paris', 'Tokyo', 'Berlin', 'London', 'Sydney', 'Tokyo'],
        'Remarks': [''] * 9}

df = pd.DataFrame(data)

# Display the data
print(df)

     Name   Age      City Remarks
0    John  25.0  New York
1    Emma  28.0    London
2    John  25.0  New York
3   Emily   NaN     Paris
4  Daniel  30.0     Tokyo
5    None  32.0    Berlin
6    Emma  28.0    London
7    None  35.0    Sydney
8  Daniel   NaN     Tokyo